:root{
    --lv-1: #fff;
    --lv0: #eee;
    --lv1: #ccc;
    --lv2: #444;
    --tx1: black;
    --tx2: white;
    --br: 5px;
}

body{
    display: flex;
    height: 100vh;
    background-color: var(--lv0);
    font-family: sans-serif;
}

aside{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 0 1 1;
    width: 300px;
    background-color: var(--lv1);
    box-shadow: 2px 0 5px var(--lv1);
    overflow: auto;
}

aside>*{
    padding: 0 15px;
}

.general, .projects{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h2{
    font-size: 1.5rem;
    text-align: center;
    padding: 1px;
}

.select, .new-btn{
    border-radius: var(--br);
    background-color: var(--lv0);
    transition: 0.1s;
}

.select:hover, .new-btn:hover{
    background-color: var(--lv2);
    color: var(--tx2);
}

main{
    flex: 1 1 0;
    overflow: auto;
}

.tab-title{
    height: 50px;
    background-color: var(--lv1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 2px 0 2px var(--lv1);
}

.new-btn{
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

main>.taskholder{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 50px;
}

.task>*{
    flex: 1 1 0;
}

.task>input{
    flex: 0 1 0;
}

.taskholder>div {
    display: flex;
    justify-content: space-between;
    background-color: var(--lv-1);
    padding: 10px;
    border-radius: var(--br);
    box-shadow: 0 2px 2px var(--lv1);
}

h1{
    font-size: 2rem;
}

.header{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--lv2);
    text-align: center;
    color: var(--tx2);
}

.select{
    padding: 10px 25px;
    font-size: 1rem;
}